h1 {
    margin-bottom: 30px;
}

#determine-btns > .btn {
    margin-right: 10px;
}

.determine-num {
    width: 75px;
    margin-right: 10px;
}

/*#fizz-num, #buzz-num, #upper-limit {
    width: 125px;
    margin-right: 10px;
}*/

#numbers-result, #factorial-result, #palindrome-result {
    min-height: 30px;
}

.result-class {
    outline: 1px solid gray;
    padding: 0 15px;
    background-color: lightgray;
    width: 300px;
}

#console-help {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    font-style: italic;
}

.palindrome-checkbox {
    margin-right: 30px;
    margin-bottom: 30px;
}

.p-3 {
    padding: .5rem !important;
}

.mb-5, .my-5 {
    text-align: left;
    margin-bottom: 1rem !important;
    width: 40%;
}

#reversed-word, #palindrome-result {
    width: 100%;
    text-align: end;
}

.input-group {
    margin-bottom: 30px;
    width: 50%;
    margin-left: 20%;
}

#input-row {
    margin-top: 16px;
    margin-bottom: 16px;
}

#input-row > input {
    width: 300px;
}

#user-array {
    width: 378px;
}

#random-array-length {
    width: 300px;
}

#the-array {
    margin-top: 16px;
}

#output {
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn {
    margin-right: 8px;
}

button.btn.btn-outline-dark {
    height: 28px;
    padding: 0 6px;
    margin-left: 8px;
}

#the-word-array {
    margin-left: -15px;
    margin-top: 8px;
}

#default, #user-array-row, #random-array {
    margin-left: -15px;
}

#clear-btn, #fear-btn {
    width: 186px;
}